<div th:fragment="header">
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
            <span class="fs-4">Hotel booking</span>
        </a>

        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a class="me-3 py-2 text-dark text-decoration-none" href="/">Home</a>
            <a sec:authorize="isAuthenticated()"
               class="me-3 py-2 text-dark text-decoration-none" href="/authenticated">Authentication</a>
            <a sec:authorize="hasRole('CLIENT')"
               class="me-3 py-2 text-dark text-decoration-none" href="/client">Client</a>
            <a sec:authorize="hasRole('ADMIN')"
               class="me-3 py-2 text-dark text-decoration-none" href="/admin">Admin</a>
            <a sec:authorize="isAnonymous()"
               class="me-3 py-2 text-dark text-decoration-none" href="/login">login</a>
            <a sec:authorize="isAuthenticated()"
               class="me-3 py-2 text-dark text-decoration-none" href="/logout">logout</a>
        </nav>
    </div>
</div>